select.select {
  width: 148px;
  height: 52px;
  margin: 5px;
  border: none;
}
option.opt1 {
  text-align: center;
  transition: auto;
}
.options {
  display: flex;
  align-items: center;
  border: none;
  margin: 1px;
}
.opt{
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  background-color: ghostwhite;
  justify-content: center;
  width: 100vw;
}
.parent {
  display: flex;
  border: 1px outset;
  margin: 6px;
  padding: 17px;
  background-color: ghostwhite;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  background-color: ghostwhite;
  justify-content: center;
  width: 100vw;
}
.parent2 {
  display: flex;
  border: 1px outset;
  margin: 6px;
  padding: 17px;
  background-color: ghostwhite;;
}
.key {
  height: 257px;
}
.ul{
  display: flex;
  /* align-items: center; */
  text-align: center;
  background-color: #333;
  color: white;
}
.li {
  list-style: none;
  font-size: small;
  margin: 8px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #333;
  justify-content: space-around;
  align-content: space-between;
  flex-direction: column;
}
.input{
  color: transparent;
}
.textfield{
  /* background-color: #333 !important; */
  /* color: white !important;
  text-decoration-color: white; */
}
.area{
  color: white;
  margin: -4px;
}
.area2{
  color: white;
}
.box{
  background-color: white !important;
}

@media (min-width:600px){
  .App{
    background-color: white;
    font-family: sans-serif;
    font-weight: 300;
  }
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-1t29gy6-MuiToolbar-root {
  background-color: white;
  color: rgba(0, 0, 0, 0.39);
}
.textfield {
  width: 307px;
  border-radius: 80px;
  border: 3px solid orange;
}
.slider{
  background-color: ghostwhite;
}

.sli{
  background-color: white;
  border: 1px outset;
  margin: 0px auto;
  width: 93vw;
}
.scrolling {
  margin: 0 auto;
  margin-top: -200px;
}
input.inputtexttype {
  width: 245px;
  border-radius: 39px;
  height: 43px;
  border: 2px solid orange;
}
.logo{
}