select.select {
  width: 148px;
  height: 52px;
  margin: 5px;
  border: none;
}
option.opt1 {
  text-align: center;
  transition: auto;
}
.options {
  display: flex;
  align-items: center;
  border: none;
  margin: 1px;
}
.opt{
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  background-color: ghostwhite;
  justify-content: center;
  width: 100vw;
}
.parent {
  display: flex;
  border: 1px outset;
  margin: 6px;
  padding: 17px;
  background-color: ghostwhite;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  background-color: ghostwhite;
  justify-content: center;
  width: 100vw;
}
.parent2 {
  display: flex;
  border: 1px outset;
  margin: 6px;
  padding: 17px;
  background-color: ghostwhite;;
}
.key {
  height: 257px;
}
.ul{
  display: flex;
  /* align-items: center; */
  text-align: center;
  background-color: #333;
  color: white;
}
.li {
  list-style: none;
  font-size: small;
  margin: 8px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #333;
  justify-content: space-around;
  align-content: space-between;
  flex-direction: column;
}
.input{
  color: transparent;
}
.textfield{
  /* background-color: #333 !important; */
  /* color: white !important;
  text-decoration-color: white; */
}
.area{
  color: white;
  margin: -4px;
}
.area2{
  color: white;
}
.box{
  background-color: white !important;

}

@media (min-width:600px){
  .App{
    background-color: white;
    font-family: sans-serif;
    font-weight: 300;
  }
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-1t29gy6-MuiToolbar-root {
  background-color: white;
  color: rgba(0, 0, 0, 0.39);
}
.textfield {
  width: 307px;
  border-radius: 80px;
  border: 3px solid orange;
}
.slider{
  background-color: ghostwhite;
}

.sli{
  background-color: white;
  border: 1px outset;
  margin: 0px auto;
  width: 93vw;
}
.scrolling {
  margin: 0 auto;
  margin-top: -200px;
}
.choise {
  display: flex;
  padding: 49px;
  padding-top: 17px;
  padding-bottom: 14px;
  border: 1px solid darkorange;
  border-radius: 68px;
  height: 17px;
  padding-right: 17px;
}
  input.inputtexttype {
    width: 365px;
    border: 3px solid;
    padding: 5px 28px;
    border-radius: 47px;
    border: none;
}
select.choose {
  border: none;
}
.clas {
  border: none;
  margin: 2px;
}
input.submitbutton {
  border: 1px solid orange;
  border: none;
  width: 135px;
  height: 48px;
  background: darkorange;
  border-radius: 33px;
  margin-top: -17px;
  margin-left: -10px;
  margin-right: -17px;
}
.box {
  margin-top: 0px;
  margin-bottom: 17px;
}
.flexgrow {
  color: darkorange;
  font-family: unset;
}
.App2{
  background-color: ghostwhite;
}